body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 32px;
  color: royalblue;
  font-weight: 600;
  margin-bottom: 20px;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 16px;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  transition: 0.3s;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: royalblue;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-item {
  flex: 1;
}

.btn-primary {
  background-color: royalblue;
  border-color: royalblue;
}

.btn-success {
  background-color: green;
  border-color: green;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
