<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel ="stylesheet" href="style3.css"></link>
    <title>visit tunisia</title>
    
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="logo.png" class ="logo">
            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="#">Payement<br></a></li>
                    <li><a href="#">About us</a></li>
                   
                    
                </ul>
            </nav>
            
        </div>
        <div class="row">
            <div class="col">
                <h1>XPLORE YOUR COUNTRY</h1>
                <p>"Explorez la beauté envoûtante de la Tunisie, où le passé rencontre le présent dans un mélange captivant de culture, d'histoire et de paysages diversifiés. De ses villes animées et de ses souks colorés à ses plages de sable doré et à ses sites archéologiques fascinants, la Tunisie offre une expérience de voyage inoubliable pour les voyageurs en quête d'aventure, de détente et de découverte.</p>
            <button type="button">Xplore</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>Sidi bou said</h5>
                    <p>Un charmant village aux maisons blanches et aux portes bleues, offrant des vues spectaculaires sur la mer Méditerranée.</p>
                </div>
                <div class="card  card2">
                    <h5>Tunis</h5>
                    <p>A significant hill near Mecca, where Prophet Muhammad delivered his Farewell Sermon during his final pilgrimageLa capitale de la Tunisie, où l'histoire rencontre la modernité dans ses médinas animées et ses musées fascinants.</p>
                </div>
                <div class="card  card3">
                    <h5>Douz</h5>
                    <p>Porte du Sahara, où les dunes de sable s'étendent à perte de vue, offrant une expérience unique de trekking en chameau.</p>
                </div>
                <div class="card  card4">
                    <h5>Carthage</h5>
                    <p> Ancienne cité phénicienne avec des ruines impressionnantes et une vue panoramique sur le golfe de Tunis.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>