<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel ="stylesheet" href="style1.css"></link>
    <title>visit tunisia</title>
    
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="logo.png" class ="logo">
            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="#">Payement<br></a></li>
                    <li><a href="#">About us</a></li>
                   
                    
                </ul>
            </nav>
            
        </div>
        <div class="row">
            <div class="col">
                <h1>mecca</h1>
                <p>Rejoignez-nous pour une expérience inoubliable à La Mecque, le cœur battant de l'islam. Notre voyage soigneusement orchestré vous emmènera à travers les sites saints et les moments spirituels les plus sacrés de cette ville vénérée. Que ce soit pour accomplir le pèlerinage du Hajj ou pour effectuer la Omra, notre équipe dévouée est là pour vous guider à chaque étape du voyage. Découvrez la beauté et la grandeur de La Mecque tout en nourrissant votre âme de dévotion et de prière. Rejoignez-nous dans cette expérience transcendante qui laissera une empreinte durable sur votre vie.</p>
            <button type="button">Xplore</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>The Kaaba</h5>
                    <p>The holiest site in Islam, located in the Grand Mosque of Mecca, where Muslims worldwide face during prayer.</p>
                </div>
                <div class="card  card2">
                    <h5>Mount Arafat</h5>
                    <p>A significant hill near Mecca, where Prophet Muhammad delivered his Farewell Sermon during his final pilgrimage.</p>
                </div>
                <div class="card  card3">
                    <h5>The Cave of Hira</h5>
                    <p>The cave on Jabal al-Nour where Prophet Muhammad received the first revelation of the Quran.</p>
                </div>
                <div class="card  card4">
                    <h5>The Well of Zamzam</h5>
                    <p>A sacred well within Masjid al-Haram, believed to have miraculously appeared for Hagar and Ishmael, offering blessed water to pilgrims.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>